
/* start first screen */
.first_screen {
  position: relative;
  width: 100%;
  background-image: url(../img/first_screen_bg.png);
  background-size: cover;
  color: #fff;
  height: 89vh;

  &__headline {
    display: block;
    font-size: 2.25em;
    text-align: center;
    text-transform: uppercase;
    font-family: Ubuntu-Bold;
    margin:7em auto 1.2em;
    color: #fff;
  }
}

.advantage__wrapper {
  width: 40%;
  margin: 0 auto;
  overflow: hidden;
}

.advantage__item {
  text-align: center;
  width: 25%;
  display: inline-block;
  margin: 0;
  float: left;

  &--number {
    font-family: 'Open Sans', sans-serif;
    font-size: 3.5em;

    &:before {
      content: "";
      background: #62fcc3;
      height: 3px;
      width: 30px;
      margin: 0 auto 0.2em;
      display: block;
    }
  }
  &--text {
    color: #fff;
    font: italic 1.4em 'OpenSansLight';
  }
}

.go_bottom {
  display: block;
  width: 100%;
  overflow: hidden;
  text-align: center;
  color: #fff;
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: Ubuntu-Bold;
  margin-top: 9em;

  a {
    transform: rotate(90deg);
    display: block;
    color: #fff;
    font-size: 2em;
    //font-family: Ubuntu;
    font-family: monospace;

    &:hover, &:focus {
      color: #fff;
      text-decoration: none;
    }
  }
}

/* end first screen */