$green: #42b988;

footer {
	border-top: 1px solid #dddddd;
}
.footer_map {
	margin-bottom: 1.7em;
	width: 100%;
	height: 330px;
}
.contact {
    .h2 {
      text-align: left;
      line-height: 1.733;
    }
	&__title.h3 {
		@include max-screen($tablet-landscape) {
			margin-bottom: 0;
		}
        @include phone(portrait) {
          margin-top: 0;
        }
		&:before {
			content: "";
			background: $green;
			height: 3px;
			width: 20px;
			margin-bottom: 0.5em;
			display: block;
		}
	}
	&__links {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		line-height: 2em;
		margin-top: 1em;
		flex-wrap: wrap;
		&--phone {

		}
		a {
			color: #000;
			text-decoration: none;
			&:hover {
				color: $green;
			}
		}
	}
	&__form {
		margin-top: 2em;
		height: 150px;
		@include max-screen($tablet-landscape) {
			margin-top: 1em;
		}
		@include max-screen($tablet-portrait) {
			margin-bottom: 3em;
		}
		@include phone(portrait) {
			height: auto;
			margin-bottom: 4em;
		}
		&--left {
			padding-left: 0;
			@include phone(landscape) {
				width: 50%;
				float: left;
			}
            @include phone(portrait) {
              padding-right: 0;
            }
			@include iphone5(portrait) {
				padding-right: 0;
			}
		  }
		&--right {
			@extend .contact__form--left;
			padding-right: 0;
		}
		&--fields {
			display: block;
			width: 100%;
			padding: 6px 12px;
			font-size: 14px;
			color: #555;
			border: 1px solid #a2a2a2;
			border-radius: 5px;
			margin-bottom: 14px;
		}
		&--input {
			height: 28px;
			&:focus {
				outline: none;
				border: 1px solid $green;
			}
		}
		&--textarea {
			height: 112px;
			&:focus {
				@extend .contact__form--input:focus;
			}
		}
		&--submit {
			height: 30px;
			width: 125px;
			float: right;
			color: white;
			background-color: $green;
			font-family: Ubuntu-Bold;
			text-align: center;
			padding-top: 4px;
			cursor: pointer;
			border: 1px solid $green;
            @include phone(portrait) {
              margin-bottom: 3em;
            }
            @include iphone5(portrait) {
              margin-bottom: 3em;
            }
			input {
				display: none;
			}
		}
	}
}

.footer_bottom {
	@extend .header_phone_menu;
	position: absolute;
	bottom: 0;
	width: 100%;
	&--text {
		text-align: center;
		color: #555;
	}
}