$green: #42b988;
.header {
	border-bottom: 1px solid #e8e8e8;
}

.lang-inline {
	li {
		a {
			color: #ffffff;
		}
	}
	.lang-active {
		a {
			color: $green;
		}
	}
}
.header_phone_menu {
	background: url(../img/background_header.png);
	height: 2em;
	line-height: 2em;
}
.header_phones {
	color: #fff;
	float: right;
	margin-bottom: 0;
	padding-right: 15px;
	img {
		margin-right: 10px;
	}
}
.header_logo a {
	display: block;
	padding: 9px 0;
}

/*header menu*/


.navbar li.item-115 {
	display: none;
}
.header_menu {
	.navbar {
		float: right;
		margin: 0;
		border: 0;
	}
	.navbar-default {
		background: none;
	}
	.container-fluid, .navbar-collapse {
		padding: 0;
	}
	.navbar-default {
		.navbar-nav {
			> li {
				//display: inline-block;
				> a, span {
					font-size: 16px;
					color: #000;
					border-right: 1px solid #e8e8e8;
					border-bottom: 1px solid #e8e8e8;
					padding: 20px 17px;
				}
				&:nth-child(2)  {
					>a {
						border-left: 1px solid #e8e8e8;
					}
				}
			}
		}
	}
}
.separator {
	display: block;
	height: 61px;
	cursor: pointer;
	&:after {
		content: '▼';
        display: inline-block;
        vertical-align: middle;
        font-size: 10px;
        margin-left: 5px;
	}
}
.open {
  .separator {
    &:after {
      content: '▼';
      transform: rotate(180deg);
    }
  }
}