.header {
	border-bottom: 1px solid #e8e8e8;
}

.lang-inline {
	li {
		a {
			color: #ffffff;
		}
	}
	.lang-active {
		a {
			color: $green;
		}
	}
}
.header_phone_menu {
	background: url(../img/background_header.png);
	height: 2em;
	line-height: 2em;
}
.header_phones {
	color: #fff;
	float: right;
	margin-bottom: 0;
	padding-right: 15px;
	img {
		margin-right: 10px;
	}
}
.header_logo a {
	display: block;
	padding: 9px 0;
}

/*header menu*/


.navbar li.item-115 {
	display: none;
}
.nav {
  > li:hover {
    border-bottom: 2px solid $green;
    height: 60px;
  }
}
.header_menu {
	max-height: 4.3em;
	.navbar {
		float: right;
		margin: 0;
		border: 0;
		@include max-screen($tablet-portrait - 1px) {
			float: initial;
		}
	}
	.navbar-header {
		height: 4.4em;
		.navbar-toggle {
			margin: 14px 15px ;
		}
	}
	.navbar-default {
		background: none;
	}
	.container-fluid, .navbar-collapse {
		padding: 0;
		margin: 0;
		width: 100%;
	}
	.navbar-default {
		.navbar-nav {
			@include max-screen($tablet-portrait - 1px) {
				position: absolute;
				margin: 0;
				width:100%;
				z-index: 2;
			}
			> li {
				@include max-screen($tablet-portrait - 1px) {
					background: #fff;
				}
				> a, span {
					font-size: 16px;
					color: #000;
					border-right: 1px solid #e8e8e8;
					border-bottom: 1px solid #e8e8e8;
					padding: 20px 17px;
                  //@include max-screen($tablet-portrait) {
                  //  padding: 20px 5px;
                  //}
                  @include ipad {
                    padding: 20px 5px;
                  }
                  @include max-screen($tablet-portrait -1px) {
                    padding: 20px 17px;
                  }
				}
				&:nth-child(2)  {
					>a {
						border-left: 1px solid #e8e8e8;
					}
				}
			}
		}
	}
}
.separator {
	display: block;
	height: 61px;
	cursor: pointer;
	&:after {
		content: '▼';
        display: inline-block;
        vertical-align: middle;
        font-size: 10px;
        margin-left: 5px;
	}
}
.open {
  .separator {
	  border-bottom: none!important;
    &:after {
      content: '▼';
      transform: rotate(180deg);
    }
  }
  &:hover {
    .dropdown-menu {
      margin-top: 3px;
    }
  }
}
.dropdown-menu {
	column-count: 3;
	border-top: 0;
	left: -10.2em;
	padding: 0;
	border-radius: 0;
	border-bottom: 3px solid $green;
	@include ipad {
		column-count: 2;
		left: -8.5em;
	}
	li {
		width: 14.85em;
		height: 3em;
		display: inline-block;
		margin-right: -6px;
		a {
			padding: 3px 0 3px 10px;;
			text-decoration: underline;
			color: #a7a7a7;
			white-space: normal;
			display: flex;
			align-items: center;
			height: 100%;
			width: 100%;
			&:hover {
				background: none;
				border-bottom: 2px solid $green;
				padding-bottom: 1px;
			}
		}
	}
}