@font-face {
  font-family: "Ubuntu-Bold";
  src: url("../fonts/Ubuntu/Ubuntu-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
$green: #42b988;
$grey: #e7e7e7;
$border: 1px solid $grey;

@mixin before_line($before_line) {

}

@import "media", "media-queries";
@import "header", "first_screen", "services";
@import "footer";



html, body {
  font-family: 'Ubuntu', sans-serif;
  position: relative;
}
.site {
  height: 100%;
  min-height: 100vh;
  margin-bottom: -2em;
}
p {
  font-family: Ubuntu, sans-serif;
  color:  #383838;
  font-size: 1em;
  line-height: 1.6;
}
h1, .h1 {
  font-family: Ubuntu-Bold;
  font-size: 1.2em;
  text-transform: uppercase;
}

h2, .h2 {
  font-family: Ubuntu-Bold;
  margin-top: 70px;
  font-size: 1.875em;
  line-height: 2.733;
  text-transform: uppercase;
  text-align: center;
  color: #383838;
}
.module_title {
  &:before {
    content: "";
    background: #62fcc3;
    height: 3px;
    width: 30px;
    margin: 0 auto 0.2em;
    display: block;
  }
}

h3, .h3 {
  color: #191919;
  font-size: 1.125em;
  text-transform: uppercase;
  font-family: Ubuntu-Bold;
  margin: 50px 0 25px;
}
h4, .h4 {
  font: 1em/1.5em Ubuntu-Bold;
  text-transform: uppercase;
}
.page-header {
  .h2 {
    text-align: left;
    line-height: 1.5em;
    margin-bottom: 30px;
  }
}
.page__title {

  &:before {
    content: "";
    background: $green;
    height: 3px;
    width: 20px;
    margin-bottom: 0.5em;
    display: block;
  }
}
.article_img--right {
  float: right;
  max-width: 50%;
  margin-left: 3em;
  margin-bottom: 1em;
}

.moduletable {
  //min-height: 240px;
}
.background_gray {
  background: #f7f7f7;
}

/* ======================== breadcrumbs    ===================*/
.breadcrumbs_wrapper {
  background-color:  #f7f7f7;
  border-bottom: 1px solid $grey;
}
.breadcrumb {
  margin: 0;
  padding-left: 30px;
  li {
    display: inline-block;
    font-size: 0.75em;
    line-height: 3em;
    &:nth-child(2) {
      .pathway {
        display: inline-block;
        background-image: url(../img/home_icon.png);
        width: 14px;
        height: 12px;
        background-repeat: no-repeat;
        line-height: 3em;
        vertical-align: middle;
        span {
          display: none;
        }
      }
    }
    a {
      color: #333;
    }
  }
  .active:first-child {
    display: none;
  }
  .divider {
    color: #bababa;
    margin: 0 5px;
  }
}

/* ======================== / breadcrumbs    ===================*/

/* ======================== slider ======================== */
.slider {
  width: 90%;
  margin: 3em auto 7em;
  @include phone(portrait) {
    width: 85%;
  }

  .partners_slider__item {
    outline: none;
    @include phone(portrait) {
      margin: 0 10px;
      display: flex;
    }
    &--img {
      margin: 0 auto;
      max-width: 100%;
      @include phone(portrait) {
        margin: auto;
      }
    }
  }
  .company_slider__item {
    padding: 0 7em;
    @include max-screen($tablet-portrait) {
      padding: 0 3em;
    }
    &--img {
        float: left;
        margin-right: 4em;
       @include max-screen($tablet-portrait) {
          max-width: 40%;
          margin-right: 2em;
       }
    }
    &--title {
      @include max-screen($tablet-portrait) {
        margin-top: 0;
      }
    }
  }

  .slick-dots {
    bottom: -4em;

    li {
      button {

        &:before {
          content: "■";
          font-family: Arial;
          font-size: 20px;
          color: #c6c6c6;
          opacity: 1;
        }
      }
    }
    .slick-active {
      button {
        &:before {
          color: #42b988;
          opacity: 1;
        }
      }
    }
  }
  .slick-next{
    color: #c6c6c6;
    &:before {
      content: '>';
      font-family: monospace;
      color: #c6c6c6;
      font-size: 40px;
    }
  }
  .slick-prev {
    @extend .slick-next;
    &:before {
      content: '<';
    }
  }

}







/* bottom text module */
.bottom_text {
  position: relative;
  margin-bottom: 3em;
  .readmore {
    color: #42b988;
    font-family: Ubuntu-Bold;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      color:#383838;
    }
  }
}

.bottom_text_wrapper {
  position: relative;
  height: 110px;
  overflow: hidden;
  p {
    display: block;
    @include phone(portrait) {
      text-align: justify;
    }
  }
}
.uncheck:after {
  content: "Детальніше";
}
.check:after {
  content: "Стисло";
}

/* contact_page start ============================*/
.contact_page {
  padding-top: 70px;
  .h2 {
    text-align: left;
    line-height: 1.733;
    margin-top: -1em;
  }

  &__links {
    display: block;
    margin-top: 2em;
    &--title {
      font-family: Ubuntu-Bold;
      margin-right: 10px;
      line-height: 2em;
    }
  }
  a {
    color: #000;
    text-decoration: none;
    &:hover {
      color: $green;
    }
  }
  .footer_map {
    height: 406px;
    margin-bottom: 0;
    @include max-screen($tablet-portrait) {
      margin-bottom: 2em;
      margin-top: -70px;
    }
  }
}

#map {
  height: 430px;
}

/* contact_page end ==========================*/

.our_team {
  height: 350px;
  width: 67%;
  margin: 0 auto 4em;
  @include max-screen($tablet-landscape) {
    width: 81%;
  }
  @include max-screen($tablet-portrait) {
    width: 100%;
  }
  &__item {
    float: left;
    margin: 0 10px;
    border: 1px solid #e8e8e8;
    text-align: center;
    @include max-screen($tablet-portrait) {
      width: 30%;
    }
    &--img {
      width: 100%;
    }
    &--name {
      margin-top: 1.5em;
      margin-bottom: 0;
    }
    &--post {
      color: #a2a2a2;
      font-size: 0.75em;
    }
    &--mail {
      a {
        color: #7c7c7c;
      }
      &:before {
        content: '';
        display: block;
        width: 15px;
        height: 3px;
        background-color: $green;
        margin: 0 auto 5px;
      }
    }
  }
}

// partners page =================================

.partners_tiles {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2em;
  &__item {
    display: flex;
    border: 1px solid $grey;
    width: 23%;
    margin-bottom: 2em;
    padding: 4em 0;
    align-items: center;
    justify-content: center;
    &--img {
      max-width: 90%;
    }
  }
}

// ==================== works =========================================
.works_tag {
  text-align: center;
  margin-bottom: 2em;
  .works_tag__item {
    display: inline-block;
    background: #a2a2a2;
    padding: 5px 10px;
    margin: 0 5px 10px;
    color: #fff;
    border-radius: 6px;
    font-size: 0.75em;
    &:hover {
      background: $green;
      text-decoration: none;
    }
    &:nth-child(1):before {
      content: url(../img/house.png);
    }
  }
}
.works_intro {
  overflow: hidden;
  &__item {
    border: 1px solid $grey;
    margin-bottom: 2em;
    &--img {
      width: 100%;
      height: 100%;
      display: block;
      img {
        width: 100%;
      }
    }
    &--title {
      display: block;
      padding: 1em;
      margin: 0;
      border-bottom: 1px solid $grey;
      &:hover {
        color: $green;
        text-decoration: none;
      }
      .h3 {
        &:hover {
          color: $green;
          text-decoration: none;
        }
      }
    }
    &--to_project {
      display: block;
      height: 3em;
      font-size: 1em;
      line-height: 3em;
      color: #fff;
      text-align: center;
      background: url(../img/background_header.png);
      &:hover {
        background: url(../img/hover_bg.png);
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.extra_fields {
  overflow: hidden;
  &__group {
    width: 50%;
    float: left;
    text-align: center;
    padding: 1em;
    border-bottom: 1px solid $grey;
    @include max-screen($tablet-landscape) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 4.5em;
    }
    &:nth-child(2n-1) {
      display: none;
    }
    &:nth-child(2) {
      border-right: 1px solid $grey;
    }
    &:nth-child(4) {
      border-right: none;
    }
    &--label {
      color: #a2a2a2;
      font-size: 0.75em;
    }
    &--value {
      @extend .h3;
      margin: 0;
    }
  }
}
// ======================  pagination ==============
.works_intro__pagination {
  text-align: center;
  margin-bottom: 2em;
}
.pagination__wrapper {
  display: inline-block;
}
.pagination__item {
  display: inline-block;
  border: 1px solid #c6c6c6;
  line-height: 2em;
  border-left: none;
  color: #42b988;
  background-color: #f7f7f7;
  font-family: Ubuntu-Bold;
  &--prev {
    background-color: #fff;
  }
  &--next {
    background-color: #fff;
  }
  a {
    color: #191919;
    padding: 0 0.7em;
    line-height: 2em;
    font-size: 1em;
    &:hover {
      color: $green;
    }
  }
  span {
    display: block;
    padding: 0 0.7em;
    background-color: #fff;
  }
}

.pagination__item.pagination__item--prev {
  border-left: 1px solid #c6c6c6;
  border-radius: 5px 0 0 5px;
  span {
    background: none;
  }
}
.pagination__item.pagination__item--next {
  border-right: 1px solid #c6c6c6;
  border-radius: 0 5px 5px 0;
  span {
    background: none;
  }
}

.work_item {
  padding: 1.5em 0 3em;
  overflow: hidden;
}
.navigation__button {
  float: right;
  &--previous {
    display: inline-block;
    margin-right: 2em;
    font: 1em/3em Ubuntu-Bold;
    color: $green;
    &:hover {
      color: #191919;
    }
  }
  &--next {
    @extend .navigation__button--previous;
    margin-right: 0;
  }
}
.work_item__content {
  border: $border;
  border-radius: 5px;
  margin-bottom: 1em;
}
.work_description {
  &__title {
    border-bottom: $border;
    padding: 1em;
  }
  &__text {
    padding: 1em;
  }
}
.description_fields {
  &__group {
    padding: 3px 1em;
    border-bottom: $border;
    overflow: hidden;
    &--label {
      font-family: Ubuntu-Bold;
      display: block;
      width: 35%;
      float: left;
    }
    &--value {
      display: block;
      padding-left: 0.5em;
      width: 65%;
      float: right;
    }
  }
}

.work_slider {
  padding: 1em;
}
// =================  realized_slider  ================
.realized_slider {
  width: 90%;
  margin: 1em auto 12em;
  height: 370px;
  &__arrow {
    &--prev {
      background: url("../img/arrow.png") center no-repeat;
    }
    &--next {
      background: url("../img/arrow.png") center no-repeat;
      transform: rotate(180deg);
    }
  }
  .bt_handles {
    top: 400px;
    left: 44.5%;
    li {
      margin: 0 10px;
      a {
        background: #c6c6c6;
        font-size: 0;
        line-height: 0;
        display: block;
        width: 10px;
        height: 10px;
      }
    }
    .current {
      a {
        background: $green;
      }
    }
  }
  &__dots {
    position: absolute;
    padding: 0 !important;
    border: 0 !important;
    z-index: 101;
    bottom: 15%;
    left: 48%;
    right: 0;
    margin: 0 auto;
  }
  &__container {
    width: 80%;
    margin: 0 auto;
  }
  &__slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__item {
    @extend .works_intro__item;
    width: 31%;
  }
  &__image {
    @extend .works_intro__item--img;
  }
  &__title {
    @extend .works_intro__item--title;
  }
  &__extra_fields {
    @extend .extra_fields
  }
  .extra_fields__group {
    display: block;
    &:first-child {
      border-right: $border;
    }
  }
  &__all_projects {
    padding-top: 4em;
    text-align: center;
    line-height: 2em;
    font-size: 1em;
    border-bottom: 2px solid $green;
    width: 100px;
    margin: 0 auto;
    display: block;
    a {
      color: $green;
      &:hover {
        color: #191919;
        text-decoration: none;
      }
    }
  }
}
//  ================ grayscale css filter ==================================
.grayscale {
  img {
    filter: grayscale(1);
    @include max-screen($tablet-landscape) {
      filter: grayscale(0)
    }
  }
  &:hover {
    img {
      filter: grayscale(0);
    }
  }
}
.pageid-135 {
  .background_gray {
    background: none;
  }
  footer {
    border-top: none;
  }
}