$desctop  : 1440px;
$notebook : 1366px;
$tablet-landscape : 1024px;
$tablet-portrait  : 768px;
$iphone6-landscape  : 667px;
$iphone6-portrait  : 375px;
$iphone5-portrait  : 320px;
$nexus-portrait  : 412px;
$nexus-landscape  : 412px;