

.services__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.services__item {
  width: 200px;
  margin-bottom: 1.5em;

  .services__item--title {
    display: block;
    background: url(../img/background_header.png);
    height: 4em;
    padding: 0 5px;
    &:hover {
      background: url(../img/hover_bg.png);
    }
    .services__item--link {
      display: flex;
      width: 100%;
      height: 100%;
      color: #ffffff;
      font-family: Ubuntu-Bold;
      text-align: center;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      p {
        color: #fff;
      }
    }
  }
}
.services__item--done {

  .services__item--title {
    height: 100%;

    .icon_done {
      background: url(../img/icone_done.png) no-repeat;
      height: 35px;
      width: 46px;
    }
  }
}

.service_page {
  border: $border;
  border-radius: 5px;
  margin-top: 50px;
}
.service_menu {
  &__item {
    border-bottom: $border;
    &:last-child {
      border-bottom: none;
    }
  }
  &__link {
    display: block;
    font-family: Ubuntu;
    color:  #383838;
    font-size: 1em;
    line-height: 2em;
    padding: 0 1em;
    &:hover {
      text-decoration: none;
      color: $green;
    }
  }
}
.service_content {
  padding: 0 1em;
  margin-bottom: 50px;
  &__title{
    border-bottom: $border;
    .h2 {
      margin-top: 0;
      text-align: left;
    }
  }
}

